<!DOCTYPE html>
<html ng-app="githubviewer">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="MainController.js"></script>
   

    <title>Angular JS Getting Started</title>
</head>

<body>

    <h1>Github Viewer</h1>
    <div ng-controller="MainController">
    <form name="searchUser" ng-submit="search()">
        <input type="search" placeholder="Username to search" ng-model="username" required/>
        <input type="submit" value="Search" />
    </form>


      <h1>User Details Retrieved</h1><br />
     
      Order:
    <div>
      <img ng-src="{{user.avatar_url}}"/><br />
     
      </div>  
      
      <table>
        <thead>
          <tr>
            <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="repo in repos">
                <td>{{repo.name}}</td>
                </tr>
          </tbody>
      
      </table>
         
     </div>
       
</body>

</html>