   <div>
      <h1>User Details Retrieved</h1><br />
      {{error}}
      Order:
      <select ng-model="repoSortOrder">
        <option value="+name">Ascending</option>
          <option value="-name">Descending</option>
      </select>
      <div id="userDetails">
      <img ng-src="{{user.avatar_url}}"/><br />
      {{user.name}}
       
      
      <table>
        <thead>
          <tr>
            <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="repo in repos">
                <td>{{repo.name}}</td>
                </tr>
          </tbody>
      
      </table>
          </div>
      
      </div>